<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    xmlns:tools="http://schemas.android.com/tools"
    package="in.deepanshut041.revolut.rates">

    <dist:module
        dist:onDemand="false"
        dist:instant="false">
        <dist:delivery>
            <dist:install-time />
        </dist:delivery>

        <dist:fusing dist:include="true" />
    </dist:module>
    <application
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".RatesActivity" />
    </application>
</manifest>

